<script setup>
import { ref } from 'vue'

// the title of the page, set to empty to remove the title
const title = ref("titolo")

const msg = ref('Indovina il paese')
const isLogged = ref(false)
const state = ref(0)

const score = ref(0)
const maxScore = ref(5)
const mode = ref(0)
const difficulty = ref(0)

const states = {
  main: 0,
  login : 1,
  game_mode: 2,
  game_difficulty: 3,
  game: 4,
}


</script>

<template>
    
  <div v-if="state == states.main">
    <h1> Indovina lo stato</h1>
    <button v-if="isLogged"> Inizia a giocare </button>
    <button v-else @click="state = states.login"> Login e registrazione </button>
  </div>

  <div v-if="state == states.login">
    <h1> Accedi o crea un'account</h1>
    <label> Username </label>
    <input type="text"></input>
    <br>
    <label> Password </label>
    <input type="password"></input>
    <br>
    <button @click="state = states.game_mode"> Login e registrazione </button>
  </div>

  <div v-if="state == states.game_mode">
    <h1> Modalità di gioco</h1>
    <p> Seleziona la sfida </p>
    <button @click="mode = 0; state = states.game_difficulty"> Curiosità del mondo </button><br>
    <button @click="mode = 1; state = states.game_difficulty"> Cibo e tradizioni </button><br>
    <button @click="mode = 2; state = states.game_difficulty"> solo europa </button><br>
  </div>

  <div v-if="state == states.game_difficulty">
    <h1> Modalità di gioco</h1>
    <p> Seleziona una difficoltà </p>
    <button @click="difficulty = 0; state = states.game"> Facile </button><br>
    <button @click="difficulty = 1; state = states.game"> Media </button><br>
    <button @click="difficulty = 2; state = states.game"> Difficile </button><br>
  </div>

  <div v-if="state == states.game">
    <p> inserire fatto qui </p>
    <button> opzione 1 </button><br>
    <button> opzione 2 </button><br>
    <button> opzione 3 </button><br>
    <button> opzione 4 </button><br></br>
    <button> Conferma </button><br></br>
  </div>


</template>
